<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    <main>
        <div>
            <h1>My Projects</h1>
            <p>

            </p>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in list_projects %}
                        <tr>
                            <td>{{ project.name }}</td>
                        </tr>
                    </tbody>
                </table>
                <ul>


                    {% empty %}
                        You are not assigned to any projects
                    {% endfor %}
                </ul>

        </div>
    </main>

</body>

</html>
